{% set nav = [ { title: 'ДКЦП', href: '/dkcp/' }, { title: 'База', href: '/dkcp-base/' }, { title: 'Чекап', href: '/dkcp-checkup/' }, { title: 'Логика', href: '/cxstrategy/' }, {
title: 'КСЦ', href: '/ksc/' }, { title: '+ОИ', href: '/ksc-open/' }, { title: 'Проекты', href: '/projects/' }, { title: 'Мы', href: '/about/' }, { title: 'Среда', href: '/sreda' }
] %}

<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="/"> {% include 'pnglnk.html' %} </a>
    </div>
    {% for link in nav %} {% if link.href == page.url %}
    <span>{{ link.title }}</span>
    {% else %}
    <a href="{{ link.href }}">{{ link.title }}</a>
    {% endif %} {% endfor %}
    <a href="https://blog.buro.cx/">Блог↗</a>
  </nav>

  <nav class="nav">
    <a href="'/introduction/">Познакомиться</a>
  </nav>
</header>
