<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ pageTitle if pageTitle else 'Марина Потапова' }}</title>
    <meta
      name="description"
      content="{{
      pageDesc if pageDesc else 'Гештальт-терапевт'
    }}" />

    <link rel="shortcut icon" href="./assets/favicon.png" />

    <link rel="stylesheet" href="./ids/colors.css" />
    <link rel="stylesheet" href="./ids/normalize.css" />
    <link rel="stylesheet" href="./ids/settings.css" />
    <link rel="stylesheet" href="./ids/layout.css" />
    <link rel="stylesheet" href="./ids/ids.css" />
    <link rel="stylesheet" href="./ids/gallery.css" />
    <link rel="stylesheet" href="./ids/photoswipe.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body class="ids">
    {% include 'header.html' %} {% block content %}{% endblock %} {% include 'footer.html' %}

    <script src="./assets/script.js" defer></script>
  </body>
</html>
