.header {
  padding: 0.5em 1em;

  display: flex;
  justify-content: space-between;

  @media (width < 768px) {
    padding: 0.5em calc(var(--ids__density) * 0.4em);
    flex-wrap: wrap;
  }

  & .nav {
    font-family: var(--mono);
    font-size: 0.92em;

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5em;

    @media (width < 768px) {
      width: 100%;
      margin-bottom: 0.5em;
      font-size: var(--smaller);
    }

    & .logo {
      display: block;
      width: 15.3em;
      margin-bottom: -0.17em;

      svg {
        fill: rgba(var(--ids__text-RGB), 1);
      }

      @media (width < 768px) {
        width: 100%;
      }
    }
  }
}
