.article-title {
  --padding: 2em;
  margin: 0 calc(var(--padding) * -1) 1em;
  padding: var(--padding);
  padding-right: 4em;
  /* min-height: 25em; */
  background-color: rgba(var(--ids__surface-RGB), 1);

  @media (width < 767px) {
    margin: 0;
    --padding: 1em;
  }
}

.title-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}


.mono {
  font-family: var(--mono);
  font-size: 0.92em;
  line-height: 1.25;

  & em {
    font-size: 1.05em;
  }
}

.serif {
  font-family: var(--serif);
  line-height: 1.2;
  /* font-size: 0.96em; */

  & em {
    font-size: 1em;
  }
}

.hand {
  font-family: var(--hand);
}

.section {
  margin: 3em 0;
}

.tile {
  border: 1px solid rgba(var(--ids__text-RGB), 0.3);
  border-right: none;
  border-bottom: none;
  padding: 0.5em;
}

.course-session {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  border-top: 1px solid rgba(var(--ids__text-RGB), 0.3);
  padding-top: 0.5em;

  & .session-number {
    width: 3.5em;

    & p {
      font-size: 0.8em;

    }
  }

  & .session-preview {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8em;
    height: 4.5em;
    background-color: rgba(var(--ids__text-RGB), 0.3);
    border-radius: 1em;
    corner-shape: squircle;

    & .in-progress {
      font-size: 0.8em;
      opacity: 0.5;
    }



  }

  & .session-description {
    width: 20em;
  }
}