.article-title {

  --padding: 2em;
  margin: 0 calc(var(--padding) * -1) 1em;
  padding: var(--padding);
  min-height: 25em;



}

.gothic {
  font-family: var(--gothic);
  font-weight: 350;
  font-size: 1.08em;
  line-height: 1.21;
}

.mono {
  font-family: var(--mono);
}

.section {
  margin: 3em 0;
}