.article-title {
  margin-bottom: 1em;

}

.gothic {
  font-family: var(--gothic);
  font-weight: 350;
  font-size: 1.08em;
  line-height: 1.21;
}

.mono {
  font-family: var(--mono);
}

.section {
  margin: 3em 0;
}