.article {
  --padding: 2.5em;

  & .article-title {
    position: relative;
    margin: 0 calc(var(--padding) * -1);
    padding: var(--padding) 4em 1em var(--padding);
    
    min-height: 21em;
    max-height: 24em;
    background-color: rgba(var(--ids__surface-RGB), 1);
    overflow: hidden;

    @media (width < 768px) {
      margin: 0;
      --padding: 1em;
      padding-right: 1em;
      min-height: auto;
      max-height: none;
      height: auto;
    }

    & mark {
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: 0.1em;
      text-decoration-thickness: 0.3em;
      text-decoration-skip-ink: none;
      text-decoration-color: rgba(var(--ids__accent-RGB), 1);
    }
  }

  & .article-title-columns {  
    position: relative;
    z-index: 1;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    height: 10em;

    @media (width < 768px) {
      flex-direction: column;
      height: auto;
    }

    & .article-title-column {
      &:nth-child(1) {
        width: 65%;
        @media (width < 768px) {
          width: 100%;
        }
        
      }

      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 20%;

        &.desktop-only {
          @media (width < 768px) {
          display: none;
          }
        }
        
      }

    }

  }



  & .article-title-nav {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--mono);
    margin: 0 calc(var(--padding) * -1) 1em;
    gap: 1em;

    @media (width < 768px) {
      margin: 0;
      --padding: 1em;
    }

    & .title-nav-item {

      --nav-padding-top: 0.7em;
      --nav-padding-bottom: 0.75em;

      font-size: 0.8em;

      transition: padding 0s ease;

      &.accent {
        & .promo-link {
          display: inline-block;
          border-radius: 0;
          padding: var(--nav-padding-top) calc(var(--padding) * 1.25) var(--nav-padding-bottom);
          transition: padding 0s ease;

        }
      }

      &:not(.accent) {
        padding: var(--nav-padding-top) 0em var(--nav-padding-bottom);
      }
    }
  }

  & .sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
    height: 3em;
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &.stuck {
      width: 100%;
      max-width: none;
      margin: 0;
      padding: 0;




      & .article-title-nav {

        width: 100%;
        margin: 0 0 1em 0;

        & .title-nav-item {
          --nav-padding-top: 0.5em;
          --nav-padding-bottom: 0.55em;
          transition: padding 0.5s ease;

          &.accent {
            & .promo-link {
              transition: padding 0.5s ease;
            }


          }
        }
      }

    }
  }


  & .mono {
    font-family: var(--mono);
    font-size: 0.92em;
    line-height: 1.25;

    & em {
      font-size: 1.05em;
    }
  }

  & .serif {
    font-family: var(--serif);
    line-height: 1.2;
    /* font-size: 0.96em; */

    & em {
      font-size: 1em;
    }
  }

  & .hand {
    font-family: var(--hand);
  }

  & .section {
    margin: 3em 0;
  }

  & .tile {
    border: 1px solid rgba(var(--ids__text-RGB), 0.3);
    border-right: none;
    border-bottom: none;
    padding: 0.5em;
  }

  & .course-session {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    border-top: 1px solid rgba(var(--ids__text-RGB), 0.3);
    padding-top: 0.5em;

    & .session-number {
      width: 3.5em;

      & p {
        font-size: 0.8em;

      }
    }

    & .session-preview {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 8em;
      height: 4.5em;
      background-color: rgba(var(--ids__text-RGB), 0.3);
      border-radius: 1em;
      corner-shape: squircle;

      & .in-progress {
        font-size: 0.8em;
        opacity: 0.5;
      }



    }

    & .session-description {
      width: 20em;
    }
  }

  & .ksc-title {
    background-color: rgba(var(--ids__surface-RGB), 1);
    /* border: 2px solid rgba(var(--ids__text-RGB), 1); */

    padding-right: 1em;

    & aside {
      font-size: 0.8em;
    }

    /* border-bottom: 0; */
  }

  & .form-container {
    margin-top: 1em;
    transition: border-color 0.3s ease;
  }

  & .application-form {
    & .form-field {
      position: relative;
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.1);
      background-color: rgba(var(--ids__surface-RGB), 1);
      cursor: text;
      transition: background-color 0.5s ease;

      &:has(+ .form-submit-wrapper) {
        border-bottom: none;
      }

      &.form-field-error {
        background-color: rgba(var(--ids__accent-RGB), 0.3);
      }

      &:hover:not(:focus-within):not(.form-field-error) {
        background-color: rgba(var(--ids__surface-RGB), 0.8);
        transition: background-color 0s ease;
      }

      & label {
        flex-shrink: 0;
        padding: 0.5em 0.67em;
        font-size: 1em;
        font-weight: normal;
        font-family: var(--mono);
        color: rgba(var(--ids__text-RGB), 0.6);
        pointer-events: none;
        white-space: nowrap;
      }

      & input {
        flex: 1;
        width: 100%;
        padding: 0.5em 0.67em 0.6em 0.67em;
        padding-left: 0;
        font-size: 1em;
        font-family: var(--mono);
        border: none;
        background-color: transparent;
        color: rgba(var(--ids__text-RGB), 1);
        outline: none;

        &:focus {
          outline: none;
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        &::placeholder {
          color: rgba(var(--ids__text-RGB), 0.4);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          -webkit-box-shadow: 0 0 0 1000px rgba(var(--ids__surface-RGB), 1) inset;
          -webkit-text-fill-color: rgba(var(--ids__text-RGB), 1);
          transition: background-color 5000s ease-in-out 0s;
        }
      }

      &:has(input:-webkit-autofill) {
        background-color: rgba(var(--ids__surface-RGB), 1);
      }

      &:focus-within {
        background-color: rgba(var(--ids__surface-RGB), 0.5);
      }
    }

    & .form-submit-wrapper {
      display: flex;
      align-items: baseline;
      gap: 1em;
      margin-top: 0;
      flex-wrap: nowrap;
    }

    & .form-submit {
      margin-top: 0;
      cursor: pointer;
      font-size: 1em;
      padding: 0.5em 0.7em;
      border-radius: 0;
      border: none;
      flex-shrink: 0;

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    & .form-status {
      margin-top: 0;
      padding: 0;
      border-radius: 0;
      display: none;
      font-size: 0.9em;
      line-height: 1.2;
      font-family: var(--mono);

      &.status-sending {
        display: block;
        color: rgba(var(--ids__text-RGB), 0.8);
      }

      &.status-success {
        display: block;
        color: rgba(var(--ids__text-RGB), 1);
      }

      &.status-error {
        display: block;
        color: rgba(var(--ids__accent-RGB), 1);
      }
    }
  }

  & .form-container.status-sending {
    & .promo-link.form-submit {
      pointer-events: none !important;
      animation: form-submit-pulse 1.5s ease-in-out infinite !important;
      
      &:hover {
        background-color: rgba(var(--ids__accent-RGB), 0.8) !important;
        transition: none !important;
      }
    }
  }
}

@keyframes form-submit-pulse {
  0%, 100% {
    background-color: rgba(var(--ids__accent-RGB), 0.8);
  }
  50% {
    background-color: rgba(var(--ids__accent-RGB), 0.5);
  }
}