.intro {
  & span {
    display: inline;
    animation: wordfocus infinite ease-in;
  }
}

.intro span:nth-child(1) {
  animation-duration: 7.2s;
  animation-delay: 0.1s;
}

.intro span:nth-child(2) {
  animation-duration: 7.2s;
  animation-delay: 0.1s;
}

.intro span:nth-child(3) {
  animation-duration: 8.1s;
  animation-delay: 0.7s;
}

.intro span:nth-child(4) {
  animation-duration: 6.8s;
  animation-delay: 1.2s;
}

.intro span:nth-child(5) {
  animation-duration: 7.7s;
  animation-delay: 0.3s;
}

.intro span:nth-child(6) {
  animation-duration: 8s;
  animation-delay: 1.8s;
}

.intro span:nth-child(7) {
  animation-duration: 9.3s;
  animation-delay: 0.9s;
}

.intro span:nth-child(8) {
  animation-duration: 7.6s;
  animation-delay: 2.1s;
}

.intro span:nth-child(9) {
  animation-duration: 8.5s;
  animation-delay: 0.4s;
}

.intro span:nth-child(10) {
  animation-duration: 9.9s;
  animation-delay: 1.5s;
}

.intro span:nth-child(11) {
  animation-duration: 7.9s;
  animation-delay: 0.8s;
}

.intro span:nth-child(12) {
  animation-duration: 8.3s;
  animation-delay: 2.3s;
}

.intro span:nth-child(13) {
  animation-duration: 9s;
  animation-delay: 0.6s;
}

.intro span:nth-child(14) {
  animation-duration: 7.7s;
  animation-delay: 1.7s;
}

.intro span:nth-child(15) {
  animation-duration: 8.6s;
  animation-delay: 0.2s;
}

.intro span:nth-child(16) {
  animation-duration: 7.6s;
  animation-delay: 0.2s;
}

.intro span:nth-child(17) {
  animation-duration: 9.6s;
  animation-delay: 0.2s;
}

@keyframes wordfocus {

  0%,
  100% {
    filter: blur(0px);
    transform: scale(1);
  }

  50% {
    filter: blur(0.1em);
    opacity: 0.7;
  }
}

.author {
  .author-portrait {
    position: relative;
    margin-bottom: 0.3em;

    & .author-name {
      font-size: 1.05em;
      font-weight: 550;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0.1em 0.3em 0.1em 0em;

      background-color: rgba(var(--ids__text-RGB), 1);
      color: rgba(var(--ids__inverted-text-RGB), 1);
    }
  }

  & p {
    padding-right: 1em;

    font-size: var(--smaller);
  }
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: calc(var(--ids__density) * 0.3em) 0;

  @media (width < 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      repeat(8, auto) calc(var(--ids__density) * 2.4em) repeat(8, auto);
  }
}

.pricing-grid-item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;

  & h4 {
    margin: 0;
    padding: 0em 1em 0em calc(var(--ids__density) * 0.5em);
  }

  & .pricing-feature {
    margin: 0;
    border-top: 1px solid rgba(var(--ids__text-RGB), 0.2);
    padding: 0.3em 1em 0em calc(var(--ids__density) * 0.5em);

    &:empty {
      visibility: hidden;
    }
  }

  & p {
    margin: 0;

    &.caption {
      opacity: 0.5;
      margin: 0.5em 0 1em;
    }
  }

  & .promo-link {
    display: block;
    margin-top: 1em;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 0;

    @media (width < 768px) {
      font-size: 0.9em;
      padding: 0.7em 1em;
    }
  }

  @media (width < 768px) {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 8;
    }

    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1 / 8;
    }

    &:nth-child(3) {
      grid-column: 1 / -1;
      grid-row: 9 / -1;
      grid-template-rows: repeat(7, auto);
      gap: 0;
      padding-top: calc(var(--ids__density) * 1em);
      padding-bottom: 0;
    }
  }
}

.ids {
  & aside {
    &.pricing-section {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.pricing-grid-wrapper {
  background-color: rgb(var(--ids__surface-RGB));
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.promo-link.second {
  background-color: rgb(245, 90, 90);

  &:hover {
    background-color: rgb(var(--ids__hover-RGB));
  }
}

.promo-link.third {
  background-color: rgb(var(--ids__link-RGB));

  &:hover {
    background-color: rgb(var(--ids__hover-RGB));
  }
}