.article-title-illustration {
  position: absolute;
  top: -1em;
  width: 40%;
  min-width: 40%;
  aspect-ratio: 1/1;
  right: -1em;
  
  @media (width < 768px) {
    width: 80%;
    top: auto;
    bottom: -3em;      
  }
}

.contour {
  border: 1px solid rgba(var(--ids__text-RGB), 0.2);
}


.problem-summary {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 3em;
  background-color: gray;
  height: 0;
  z-index: 1;

  @media (width < 768px) {
    
  }
  
  
  & .problem-summary-container {
    position: absolute;
    left: 103%;
    width: 25%;
    color: rgba(var(--ids__accent-RGB), 1);    
    --ids__link-RGB: var(--ids__accent-RGB);
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: var(--mono);
    font-weight: 500;
    transition: transform 0.5s ease;
    
    

    @media (width < 768px) {
      left: 67%;
      width: 30%;
      font-size: 0.8em;
      background-color: rgba(var(--ids__background-RGB), 1);
      border: 1px solid rgba(var(--ids__accent-RGB), 0.3);  
      padding: 0.5em 0.4em 0.2em;
      border-radius: 0.5em;  

    }

    

    &.is-sleeping {
      opacity: 0;
      transform: translateX(1em);
      transition: transform 0s ease;
    }

    & .initial-text {
      display: block;
    }

    & .hint-text {
      display: block;
    }

    & .arrow {
      display: block;
    }

    & .progress {
      display: none;
    }

    & .result-1,
    & .result-2,
    & .result-3 {
      display: none;
    }

    &.has-selection {
      & .hint-text {
        display: none;
      }

      & .arrow {
        display: none;
      }

      & .progress {
        display: block;
      }
    }

    &.show-result {
      & .initial-text,
      & .hint-text,
      & .arrow,
      & .progress {
        display: none;
      }

      & .result-1,
      & .result-2,
      & .result-3 {
        display: block;
      }
    }
  }
}

.intro {
  @media (width < 768px) {
    width: 70%;
  }
}

/* Радиогруппа культуры */
.culture-radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.7em;  
  margin-bottom: calc(var(--ids__density) * 0.6em);
  --gap: 1em;
  gap: var(--gap);

  @media (width < 768px) {
    font-size: 0.87em;
  }
}

.culture-radio-option {
  --columns: 3;
  width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));
  position: relative;
  cursor: pointer;
  display: block;

  @media (width < 768px) {
    --columns: 2;

    &:nth-child(3) {
      width: 100%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -0.3em;
    left: -0.3em;
    right: -0.3em;
    bottom: -0.3em;
    border: 1px solid rgba(var(--ids__text-RGB), 0.1);
    border-radius: 0.6em 0.6em 0.6em 0.9em;
    pointer-events: none;
    transition: border-color 0.5s ease;
  }

  &:has(.culture-radio-input:checked)::before,
  &.is-checked::before {
    border-color: rgba(var(--ids__text-RGB), 0.4);
    transition: border-color 0s ease;
  }

  &:not(:has(.culture-radio-input:checked)):not(.is-checked):hover::before {
    border-color: rgba(var(--ids__hover-RGB), 0.3);
    transition: border-color 0s ease;
  }

  &:has(.culture-radio-input:checked),

  &.is-checked {
    & .culture-radio-content {
      color: rgba(var(--ids__text-RGB), 1);
      transition: color 0s ease;      
    }

    & .culture-radio-indicator {
      border-color: rgba(var(--ids__text-RGB), 1);
      border-width: 2px;
      transition: border-color 0s ease;
    }

    & .culture-radio-dot {
      background-color: rgba(var(--ids__text-RGB), 1);
      transition: background-color 0s ease;
    }

    & .culture-radio-label {
      opacity: 1;
      color: rgba(var(--ids__text-RGB), 1);
      transition: opacity 0s ease, color 0s ease;
    }
  }

  &:not(:has(.culture-radio-input:checked)):not(.is-checked):hover {
    & .culture-radio-indicator {
      border-color: rgb(var(--ids__hover-RGB));
      transition: border-color 0s ease;
    }

    & .culture-radio-label {
      opacity: 1;
      color: rgb(var(--ids__hover-RGB));
      transition: opacity 0s ease, color 0s ease;
    }

    & .culture-radio-content {
      color: rgb(var(--ids__hover-RGB));
      transition: color 0s ease;
    }
  }

  & .culture-radio-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  & .culture-radio-content {
    transition: color 0.5s ease;

    & .width-90 {
      width: 90%;
      @media (width < 768px) {
        width: 100%;
      }
    }
    & .width-80 {
      width: 80%;
      @media (width < 768px) {
        width: 100%;
      }
    }

    
  }

  & .culture-radio-footer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
  }

  & .culture-radio-indicator {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgba(var(--ids__text-RGB), 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: border-color 0.5s ease;
  }

  & .culture-radio-dot {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: rgba(var(--ids__text-RGB), 0);
    transition: background-color 0.5s ease;
  }

  & .culture-radio-label {
    font-size: 0.8em;
    font-family: var(--mono);
    opacity: 0;
    transition: opacity 0.5s ease, color 0.5s ease;
    pointer-events: none;
  }
}


table.ksc-open-schedule {

  @media (width < 768px) {
    font-size: 0.9em;
  }
  

  & h3 {
    font-size: 1.7em;
    margin-bottom: 0.3em;

    @media (width < 768px) {
      font-size: 1.5em;
    }
  }
  & h4 {
    font-size: 1em;
    margin-bottom: 0.4em;
    
  }

  & p {
    margin-bottom: 0.4em;
  }

  ul {
    li {
      margin-bottom: 0.4em;
    }
  }

  & tr {
    & td {
      padding: 0.4em 0 0.15em;

      &:first-child {
        width: 15%;

        @media (width < 768px) {
          padding-right: 1em;
        }

        & p {          
          display: inline-block;
          font-size: 0.7em;
          font-family: var(--mono);
          border: 1px solid rgba(var(--ids__text-RGB), 0.2);
          padding: 0.2em 0.5em 0.15em;
          border-radius: 0.3em;

          @media (width < 768px) {
            font-size: 0.6em;
          }

          
        }
      }
      &:last-child {
        width: 70%;
      }
    }
  }
}


.shedule-summary {


  & ul {
    & li {

      margin-bottom: 0.4em;
    }  
  }
}


.deliverables {
  display: flex;
  flex-wrap: wrap;
  --gap: 0.5em;
  --columns: 4;
  gap: var(--gap);
  margin-bottom: 1em;

  & .deliverables-item {
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));
    @media (width < 768px) {
      --columns: 1;
    }

    &.accent {
      --columns: 2;

      @media (width < 768px) {
        --columns: 1;
      }
    }

    & aside {
      height: 100%;
    }
  }
}

.application-columns {
  display: flex;
  flex-wrap: wrap;
  --gap: 1em;
  gap: var(--gap);

  & .application-column {

    &:first-child {
      width: calc(60% - (var(--gap) / 2));
      @media (width < 768px) {
        width: 100%;
      }
    }

    &:last-child {
      width: calc(40% - (var(--gap) / 2));
      @media (width < 768px) {
        width: 100%;
      }
    }


  }
}

.review-author {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5em;

  & .review-author-portrait img {
    width: 3em;
    height: 3em;
    object-fit: cover;    
  }
  & .review-name {
    width: 60%;
    font-size: 0.8rem;
  }
}