{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="ids__text-width">
    <h1>ДКЦП — это инструмент, который помогает компаниям понять, что они продают</h1>

    <p>
      ДКЦП — это фреймворк, который поможет договориться о базовых настройках. Пока ключевые люди компании не договорятся о базовых настройках своего бизнеса, они не смогут
      согласованно им управлять. Возможно, вам показалось, что эти вопросы только для стартапов. Но нет, даже зрелый бизнес часто не может на них ответить.
    </p>

    <ul>
      <li>Кто это продаёт? Какой он?</li>
      <li>Кому он это продаёт? Какие они?</li>
      <li>Что продаётся? Какое оно?</li>
      <li>На каких условиях продаётся? Сколько нужно заплатить, когда и как, что ещё нужно сделать, когда и как?</li>
      <li>Почему они это покупают? Зачем?</li>
    </ul>

    <p>
      А разве бывают компании, которые не понимают, что продают? Как ни странно — да. И их много. Ведь это понимание на деле состоит из разных вопросов: Кто наш клиент? Какую его
      проблему мы решаем? Чем наш продукт отличается от конкурентов? Правильную ли цену называем? Правильно ли мы рассказываем о наших преимуществах?
    </p>
  </div>
</div>

{% endblock %}
