{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper L">
  {% set draft = false %} {% set values = ['Баланс работы и жизни'] %} {% set segment = ['Коучи и консультанты b2b-команд'] %} {% set conflict = ['Быть доступным для команд
  клиентов, но не быть онлайн 24/7, ожидая подтверждений встреч'] %} {% set artifact = ['Планировщик встреч EASYMEET'] %} {% set artifactAttrs = ['Автоматическое подтверждение
  встреч без участия организатора', 'Синхронизация с календарем в реальном времени'] %} {% set exchangeConditions = ['Условия обмена'] %} {% set priceConditions = ['Ценовые
  условия'] %} {% set companyAttrs = ['Атрибуты компании'] %} {% set arguments = ['Аргументы'] %} {% include 'dkcp.html' %}
</div>

{% endblock %}
