{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <h1>ДКЦП — инструмент, который помогает компаниям понять, что они продают</h1>
  <div class="ids__text-width">
    <p>
      ДКЦП — это фреймворк, который поможет договориться о базовых настройках. Пока ключевые люди компании не договорятся о базовых настройках своего бизнеса, они не смогут
      согласованно им управлять. Возможно, вам показалось, что эти вопросы только для стартапов. Но нет, даже зрелый бизнес часто не может на них ответить.
    </p>

    <ul>
      <li>Кто это продаёт? Какой он?</li>
      <li>Кому он это продаёт? Какие они?</li>
      <li>Что продаётся? Какое оно?</li>
      <li>На каких условиях продаётся? Сколько нужно заплатить, когда и как, что ещё нужно сделать, когда и как?</li>
      <li>Почему они это покупают? Зачем?</li>
    </ul>

    <p>
      А разве бывают компании, которые не понимают, что продают? Как ни странно — да. И их много. Ведь это понимание на деле состоит из разных вопросов: Кто наш клиент? Какую его
      проблему мы решаем? Чем наш продукт отличается от конкурентов? Правильную ли цену называем? Правильно ли мы рассказываем о наших преимуществах?
    </p>

    <p>Пока ключевые люди компании не договорятся о базовых настройках своего бизнеса, они не смогут согласованно им управлять.</p>
  </div>
</div>

<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <h1>Лекция о ДКЦП</h1>
  <div class="ids__text-width">
    <p> Читает Михаил Руденко, автор методологии. Наглядно, без сложных терминов, за 26 минут.</p>
    <div style="position: relative; padding-top: 56.25%; width: 100%"><iframe src="https://kinescope.io/embed/3tXLRp4j1hnt5WEP9ovYsW" allow="autoplay; fullscreen; picture-in-picture; encrypted-media; gyroscope; accelerometer; clipboard-write; screen-wake-lock;" frameborder="0" allowfullscreen style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"></iframe></div>
  </div>
</div>

<div class="ids__space XL"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
  <h1>Статьи</h1>
  <p>Что ещё почитать о методологии ДКЦП.</p>
  </div>
  <div class="ids__space S"></div>
      <div class="deliverables-item">
        <aside>
          <p>
            <strong>Архитектоника ценностного предложения</strong>
            <a href="https://blog.buro.cx/arhitektonika-cennostnogo-predlozheniya/" target="_blank">↗</a>
          </p>
          <p>Как системно создавать ценностные предложения, которые выдерживают проверку логикой и рынком. Смотрим на ЦП как на набор взаимосвязанных блоков, а абстрактных идей.</p>
        </aside>
      </div>
      <div class="deliverables-item">
        <aside>
          <p>
            <strong>Анатомия уникальности</strong>
            <a href="https://blog.buro.cx/anatomiia-unikalnosti-chto-takoie-unikalnoie-torghovoie-priedlozhieniie/" target="_blank">↗</a>
          </p>
          <p>Разбираемся, что такое УТП, используя модель ДКЦП. Три главных составляющих УТП, создание уникальности, определение мотивации к покупке и формулирование предложения. </p>
        </aside>
      </div>
      <div class="deliverables-item">
        <aside>
          <p>
          <strong>7 способов проиграть конкуренцию за таланты</strong>
            <a href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/" target="_blank">↗</a>
          </p>
          <p>Как эйчару создавать согласованные EVP и рассматривать найм как систему обмена. Типичные конфликты, из-за которых разваливается EVP, — и способ быстро их диагностировать и разрешать.</p>
          </aside>
      </div>
  </div>
</div>

<div class="ids__space XL"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
  <h1>Продукты</h1>
  <p>Научиться методологии и самому и обучить команду.</p>
  </div>
  <div class="ids__space S"></div>
    <div class="deliverables-item">
        <aside>
          <p>
          <strong>Культура создания ценности</strong>
            <a href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/" target="_blank">↗</a>
          </p>
          <p>Внедрить ДКЦП-мышление в свою компанию.</p>
          <p>Для фаундеров, CEO, CPO.</p>
        </aside>
      </div>
      <div class="deliverables-item">
        <aside>
          <p>
          <strong>ДКЦП-чекап</strong>
            <a href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/" target="_blank">↗</a>
          </p>
          <p>Проверить свое ценностное предложение (СVP и EVP) и быстро принять меры.</p>
           <p>Для фаундеров, CEO, CPO, HRD.</p>
        </aside>
      </div>
      <div class="deliverables-item">
        <aside>
          <p>
          <strong>Открытый курс CX:SL</strong>
            <a href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/" target="_blank">↗</a>
          </p>
          <p>Освоить методологию под руководством автора в компании с другими участниками.</p>
          <p>Для фаундеров, продактов, CX-исследователей.</p>
          </aside>
      </div>
      <div class="deliverables-item">
        <aside>
          <p>
          <strong>Открытый интенсив КСЦ</strong>
            <a href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/" target="_blank">↗</a>
          </p>
          <p>Научиться создавать ценностные предложения системно.</p>
          <p>Для лидеров и их продуктовых команд.</p>
        </aside>
      </div>
  </div>
</div>

<style>
.review-inline {
  display: flex;
  align-items: flex-start;
  gap: 1rem; /* расстояние между фоткой и текстом */
}

.review-inline .review-portrait img {
  width: 48px;   /* маленькая фотка */
  height: 48px;
  object-fit: cover;
  border-radius: 0.6rem;
}

.review-inline .review-content {
  flex: 1; /* текст занимает оставшееся место */
}
</style>

<div class="ids__space L"></div>
<div class="ids__wrapper"
<div class="ids__text-width">
  <h2>Ещё о ДКЦП</h2>

 <p>Любим обсужать модель ДКЦП с друзьями и колленами по цеху. Вот это, например, подкаст, где Миша Руденко и Илья Бирман говорят про проект Ильи — движок для блогов «Эгея» и разбирают его с помощью модели ДКЦП.</p>

 <div class="ids__space S"></div>
    <div class="deliverables-item">
        <aside>
          <p>
          <strong>Подкаст</strong>
            <a href="https://podcasts.apple.com/us/podcast/%D0%B4%D1%83%D0%BC%D0%B0%D0%B5%D0%BC-%D0%B4%D0%B0%D0%BB%D1%8C%D1%88%D0%B5/id1744862171" target="_blank" rel="noopener noreferrer">Эпл</a> ·
<a href="https://www.youtube.com/playlist?list=PLl7kvlp_qh0j9uzQGU2ws4DkBWdbjY1_d" target="_blank" rel="noopener noreferrer">Ютюб</a> ·
<a href="https://music.yandex.com/album/29069497" target="_blank" rel="noopener noreferrer">Я.Музыка</a> ·
<a href="https://thinkon.mave.digital/" target="_blank" rel="noopener noreferrer">Мейв</a>
</p>
<p>Миша Руденко и Илья Бирман говорят про проект Ильи — движок для блогов «Эгея» и разбирают его с помощью модели ДКЦП.</p>
<div class="ids__space S"></div>
<div class="review-item">
  <div class="review review-inline">
    <div class="review-portrait">
      <img src="/assets/ksc-open/Ilya-review.jpg" alt="Илья Бирман" />
    </div>
    <div class="review-content">
      <p><strong>Илья Бирман.</strong> Дизайнер, арт‑директор дизайн-бюро Артёма Горбунова, создатель популярной типографской раскладки, разработчик</p>
    </div>
  </aside>
  </div>
      
<p>Послушайте, чтобы составить представление о том, как работает модель.</p>
</div>

{% endblock %}
