{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="article-title">
    <p class="title-caption">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
    <h1 class="XL">База ДКЦП</h1>
    <p class="loud">Фреймворк, который поможет проверить, не хуйню ли мы делаем. Пригождается, если что-то продаёте или помогаете кому-то что-то продавать.</p>
  </div>
</div>
<div class="article">
  <div class="ids__wrapper">
    <div class="ids__text-width">
      <p>
        Все знают, что для старта и уверенной работы любого проекта в маркетинге нужна то ли бренд-платформа, то ли стратегия, и ещё там должно быть что-то про позиционирование, миссию, ценности, видение, суть, роль, архетип и характер бренда, тональность, уникальные атрибуты, функциональные и эмоциональные выгоды, RTB, POP/POD и УТП. Никто в индустрии не знает, как и почему это (не) работает, но признаваться в этом нельзя.
      </p>
      <p>Окей, представим, что это всё есть. У нас тогда два варианта:</p>
      <ul>
        <li>либо это бессмысленный водянистый булщит, который в реальных проектах все тщательно по секрету игнорируют</li>
        <li>либо это идеи, понятные только авторам бренд-платформы, и никто другой никогда не в состоянии применить их в работе.</li>
      </ul>
      <p>
        В результате люди в компаниях не могут договориться: одни уверены, что стратегия есть и цели понятны, другие не могут добиться ясности, для кого эти продукты и почему люди
        их выбирают; одни пытаюстся думать о проблемах клиентов, другие мыслят исключтельно технологиями и фичами; нет общего языка, чтобы связать всё это в один конструктивный
        разговор. Получается хаос, ругань, пробуксовки и компромиссные решения.
      </p>

      <!-- <p>Значит ли это, что и обсуждать нечего, а можно смело работать? Или наоборот, что нужно бежать, спасаться, и ничего нельзя поделать?</p>
      <p>
        А если бренд на вид как бы есть, но нет у него никакой записанной платформы? И нет запроса на то, чтобы она появилась? Значит ли это, что можно просто работать и всё будет
        хорошо.
      </p> -->
    </div>
  </div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <!-- <p>Люди в компаниях не могут договориться:</p>
      <ul>
        <li>О покупке — компания предлагает «фичи» и «технологии», а клиент ищет решение своей проблемы</li>
        <li>О выходе из операционки — фаундер видит компанию как систему (в лучшем случае), а топы мыслят колодцами и отдельными функциями</li>
        <li>О продвижении — подрядчик ждёт, что про продукт ему расскажет заказчик, а заказчик ждёт, что про продукт ему расскажет подрядчик</li>
      </ul>
      <p>Фаундер уверен, что у него ок с целями и пониманием ЦП</p> -->

      <p>Разумеется, у всех, что не первый день в профессии, есть свои коронные приёмы защиты от хаоса.</p>
    </div>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <p>Творческие специалисты</p>
        <ul>
          <li>обкладываются референсами и фиксируют критерии приёмки работы</li>
          <li>фиксируют контрактом время, число вариантов, невозвращаемость предоплаты в конце концов</li>
        </ul>
      </div>
      <div class="ids__sequence-item">
        <p>Заказчики </p>
        <ul>
          <li>пишут ТЗ на десять страниц, чтобы точно нельзя было не так понять</li>
          <li>ищут исполнителей, которые уже делали буквально такую же работу, просят повторить</li>
        </ul>
      </div>
    </div>
    <div class="ids__text-width">
      <!-- <p>Но это про заборы и про то, чтобы считать друг друга мудаками</p> -->
      <p>Это помогает защититься от рисков, но не помогает лучше разобираться, договариваться и вместе приходить к качественным и бескомпромиссным решениям.</p>

      <p>А что поможет?</p>

      <div class="ids__space L"></div>
      <h2>Ценностное предложение</h2>
      <p>Мы предлагаем вам максимально приземлённый взгляд на коммуникацию и управление ценностью.</p>
    </div>
  </div>

  <div class="ids__wrapper">
    <p>Правильно говорить не ценностное, а ценностное</p>
    <p>Оно есть всегда, хочешь или нет. Неважно, есть ли бренд — если что-то продаётся, если есть обмен — значит есть и ЦП. Его можно изучить, задав «обычные» вопросы.</p>
    <ul>
      <li>Кто это продаёт? Какой он?</li>
      <li>Кому он это продаёт? Какие они?</li>
      <li>Что продаётся? Какое оно?</li>
      <li>На каких условиях продаётся? Сколько нужно заплатить, когда и как, что ещё нужно сделать, когда и как?</li>
      <li>Почему они это покупают? Зачем?</li>
    </ul>
    <p>
      Вы могли заметить, что от деталей ответов на эти вопросы может зависеть дизайн, текст, технология, канал доставки, ... Именно поэтому вы (мы надеемся) привыкли задавать эти
      вопросы.
    </p>
    <p>
      Ценностное предложение — это совокупность ответов. ЦП это фундаментальное знанием о клиенте и его бизнесе, а всё остальное — позиционирование, комм. стр., миссия, вижн и
      ценности — выводится именно отсюда. В принципе, если вам уже сейчас полегчало и стало понятнее, как жить дальше — супер. С вас ноль рублей! А с теми, кто кое-что начал
      подозревать, мы продолжим.
    </p>
    <div class="ids__space L"></div>
    <h2>ДКЦП</h2>
    <p>Проблема в том, что в ответ на эти вопросы можно сказать любую хуйню. Можно сказать, что наши клиенты это все, кто. Можно сказать, что ...</p>

    <p>
      Было бы хорошо иметь инструмент, который позволяет не только задать все вопросы корректно, не только понять, валидны ли ответы, но ещё и проверить ответы между собой на
      непротиворечимость
    </p>

    <p>ЦП это «объективное знание о мире, которое мы открываем людям»</p>
    <p>ДКЦП — это то, что помогает работать с этим знанием</p>

    {% set value = 'Ценность' %}
    {% set segment = 'Клиентский сегмент' %}
    {% set conflict = 'Ключевой мотивационный конфликт' %}
    {% set artifact = 'Артефакт' %}
    {% set artifactAttrs = 'Атрибуты артефакта' %}
    {% set exchangeConditions = 'Условия обмена' %}
    {% set priceConditions = 'Ценовые условия' %}
    {% set companyAttrs = 'Атрибуты компании' %}
    {% set arguments = 'Аргументы' %}
    {% include 'dkcp.html' %}

    <p>Иллюстрация:?</p>
    <p>— дворец, по-разному заполненный</p>
    <p>— супер-короткая версия</p>

    <p>Это был игрушечный ДКЦП. Настоящий — объёмнее; корректность, сходимость, шаблоны для формулирования аргументов. Вот об этом и курс.</p>

    <div class="ids__space L"></div>
    <h2>Программа</h2>

    <div class="ids__sequence L gap-M">
      <div class="ids__sequence-item">
        <img src="/assets/giphy.gif" alt="">
        Занятие 1. Баззворды и их расшифровка. Бренд-платформа, позицонирование, УТП, CVP, EVP, ценности, миссия, вижн, маркетинговая стратегия, коммуникационная стратегия.
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/giphy.gif" alt="">
        Занятие 2. Обзор модели ДКЦП. Клиентский сегмент, ключевой мотивационный конфликт, артекакт, его атрибуты, вклад, условия обмена, атрибуты компании, ценности, аргументы.
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/giphy.gif" alt="">
        Занятие 3. Критерии сходимости. Как понять, что написали не хуйню. 42 критерия сходимости. Сходимость на модели и в рынке.
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/giphy.gif" alt="">
        Занятие 4. Взаимоотношения с клиентами. Входящий запрос, за что браться, за что нет. Как понять задачу, как вести переговоры — ДКЦП way.
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/giphy.gif" alt="">
        Занятие 5. Показываем на себе. Как нащупать свою аутентичность и сформулировать собственное ценностное предложение
      </div>
    </div>
    <div class="ids__text-width">
      <p>В результате</p>
      <ul>
        <li>Возможность протестироват мудацкость клиента системно и заранее, полагаесь не на вайбы, а не его готовность исследовать ЦП по-честному</li>
        <li>Оказываешься заодно в клиентом в совместной исследовательской деятельности, а не строиш заборы</li>
      </ul>
    </div>
    <div class="ids__space L"></div>
    <h2>Авторы</h2>

    <div class="ids__sequence XL mobile-XL">
      <div class="ids__sequence-item">
        <img src="/assets/1ED_7823.jpg" alt="Михаил Руденко">
        <h3>Михаил Руденко</h3>
        <p>Предприниматель, преподаватель, консультант. Больше 15 лет занимается исследованиями и делает проекты в сфере управления потребительским опытом. Основатель и партнер <a href="https://ponedelnik.ru/" target="_blank">ОКБ Пондельник</a>. Помогает компаниям добиться любви своих клиентов, сотрудников и партнёров. Работает с крупнейшими российскими и мировыми компаниями: Сбербанк, Пятёрочка, Магнит, Рольф, Leroy Merlin, ВкусВилл, Мегафон. Специализируется на маркетинговых стратегиях, исследовании клиентского опыта, бизнес-моделях и конкурентных стратегиях.</p>
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/ea.jpg" alt="Женя Арутюнов">
        <h3>Женя Арутюнов</h3>
        <p>Дизайнер, арт-директор, менеджер проектов и людей. Основатель <a href="https://intuition.team/ru" target="_blank">Интуиции</a>, автор книги <a href="https://intuition.team/ru/complex-designer" target="_blank">«Сложный дизайнер»</a>. С 2003 года работает дизайнером, с 2010 — арт-директором и руководителем творческих команд. За это время создал книги, журналы, логотипы, фирменные стили, веб-сервисы, мобильные приложения, дизайн-системы. Придумывал названия, стратегии, концепции, информационные продукты и бренд-платформы. Выступает с лекциями про дизайн и организацию творческой работы.</p>
      </div>
    </div>

    <div class="ids__space L"></div>
    <h2 id="pricing">Тарифы</h2>

    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <h3>Только записи</h3>
        <ul>
          <li>Записи лекций</li>
          <li>Тренажер ИИ</li>
          <li>ДКЦП-бриф</li>
          <li>Шаблон понимания задачи в ДКЦП-подходе</li>
        </ul>
        <p>Курс ещё записывается, действует ранняя цена на предзаказ</p>
        <a href="#" class="promo-link">Заказать за 14&thinsp;900&thinsp;₽</a>
      </div>
      <div class="ids__sequence-item">
        <h3>Записи + Супервизия</h3>
        <ul>
          <li>Записи лекций</li>
          <li>Тренажер ИИ</li>
          <li>ДКЦП-бриф</li>
          <li>Шаблон понимания задачи в ДКЦП-подходе</li>
          <li>Супервизия клиентского брифа или вашего Ценностного Предложения от Жени или Миши на выбор.</li>
        </ul>
        <p>Курс ещё записывается, действует ранняя цена на предзаказ</p>
        <a href="#" class="promo-link">Заказать за 29&thinsp;900&thinsp;₽</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
