{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="article-title">
    <p class="title-caption">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
    <h1 class="XL">База ДКЦП</h1>
    <p class="loud">
      Фреймворк, позволяющий сформулировать и проверить ценностное предложение. Это поможет в проектах, когда мы что-то кому-то продаем – договориться, что и кому. Подходит и для заказчиков, и для творческих специалистов.
    </p>
  </div>
  <div class="ids__text-width">
    <p>
      Все знают, что перед тем как рисовать айдентику, работать над коммуникацией или продуктом, нужно знать что-то... то ли бренд-платформу, то ли коммуникационну стратегию, то ли
    </p>
  </div>
  <div class="vp-illustration">
    <img src="/assets/Screenshot 2025-09-04 at 12.51.27.png" alt="Диаграмма терминов брендинга вокруг ценностного предложения" />
  </div>
  <div class="ids__text-width">
    <p>Люди в компаниях не могут договориться:</p>
    <ul>
      <li>О покупке — компания предлагает «фичи» и «технологии», а клиент ищет решение своей проблемы</li>
      <li>О выходе из операционки — фаундер видит компанию как систему (в лучшем случае), а топы мыслят колодцами и отдельными функциями</li>
      <li>О продвижении — подрядчик ждёт, что про продукт ему расскажет заказчик, а заказчик ждёт, что про продукт ему расскажет подрядчик</li>
      
    </ul>
    <p>Фаундер уверен, что у него ок с целями и пониманием ЦП</p>
    <p>
      Если брендбук есть, то либо там написан водянистый булщит, который нужно тщательно игнорировать., делая вид, что соблюдаешь. Либо — понятные вещи, к которым непонятно как
      пришли составители бренд-платформы, и, как следствие, непонятно, как повторить их путь уже на уровне продукта.
    </p>
    <p>
      А если брендбука нет, и вообще бренда как бы нет — если в брендбуке лежит логотип и фирменные цвета, а на вопросы о том, для кого это и почему они это покупают, есть лишь
      уклончивые ответы? Значит ли это, что и обсуждать нечего, а можно смело работать? Или наоборот, что нужно бежать, спасаться, и ничего нельзя поделать?
    </p>
    <p>
      А если бренд на вид как бы есть, но нет у него никакой записанной платформы? И нет запроса на то, чтобы она появилась? Значит ли это, что можно просто работать и всё будет
      хорошо.
    </p>
    <p>Разумеется, все тут не первый день живут, и у всех свои способы защиты от хаоса.</p>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        Творческие специалисты
        <p> — Согласованные референсы и критерии приёмки работы, согласованный процесс, позволяющий несколько раз попробовать, а потом сказать «не получилось,</p>
        <p>Все обнаружили себя немного консультантами, психологами и иногда грязными манипуляторами — но давайте тогда делать это лучше</p>


      </div>
      <div class="ids__sequence-item">
        <p>Заказчики — </p>
      </div>
    </div>
    <p>Но это про заборы и про то, чтобы считать друг друга мудаками</p>
    <p>Всё это помогает снизить риски / защитить творческого работника, но не помогает разобраться в проблеме, предсказать риски, сделать лучше.</p>
    <p>А что помогает?</p>

    <div class="ids__space L"></div>
    <h2>Ценностное предложение</h2>
    <p>Правильно говорить не ценностное, а ценностное</p>
    <p>Оно есть всегда, хочешь или нет. Неважно, есть ли бренд — если что-то продаётся, если есть обмен — значит есть и ЦП. Его можно изучить, задав «обычные» вопросы.</p>
    <ul>
      <li>Кто это продаёт? Какой он?</li>
      <li>Кому он это продаёт? Какие они?</li>
      <li>Что продаётся? Какое оно?</li>
      <li>На каких условиях продаётся? Сколько нужно заплатить, когда и как, что ещё нужно сделать, когда и как?</li>
      <li>Почему они это покупают? Зачем?</li>
    </ul>
    <p>
      Вы могли заметить, что от деталей ответов на эти вопросы может зависеть дизайн, текст, технология, канал доставки, ... Именно поэтому вы (мы надеемся) привыкли задавать эти
      вопросы.
    </p>
    <p>
      Ценностное предложение — это совокупность ответов. ЦП это фундаментальное знанием о клиенте и его бизнесе, а всё остальное — позиционирование, комм. стр., миссия, вижн и
      ценности — выводится именно отсюда. В принципе, если вам уже сейчас полегчало и стало понятнее, как жить дальше — супер. С вас ноль рублей! А с теми, кто кое-что начал
      подозревать, мы продолжим.
    </p>
    <div class="ids__space L"></div>
    <h2>ДКЦП</h2>
    <p>Проблема в том, что в ответ на эти вопросы можно сказать любую хуйню. Можно сказать, что наши клиенты это все, кто. Можно сказать, что ...</p>

    <p>
      Было бы хорошо иметь инструмент, который позволяет не только задать все вопросы корректно, не только понять, валидны ли ответы, но ещё и проверить ответы между собой на
      непротиворечимость
    </p>

    <p>ЦП это «объективное знание о мире, которое мы открываем людям»</p>
    <p>ДКЦП — это то, что помогает работать с этим знанием</p>

    <p>Иллюстрация:</p>
    <p>— дворец, по-разному заполненный</p>
    <p>— супер-короткая версия</p>

    <p>Это был игрушечный ДКЦП. Настоящий — объёмнее; корректность, сходимость, шаблоны для формулирования аргументов. Вот об этом и курс.</p>

    <div class="ids__space L"></div>
    <h2>Программа</h2>

    <div class="ids__sequence L gap-M">
      <div class="ids__sequence-item">
        Занятие 1. Баззворды и их расшифровка. Бренд-платформа, позицонирование, УТП, CVP, EVP, ценности, миссия, вижн, маркетинговая стратегия, коммуникационная стратегия.
      </div>
      <div class="ids__sequence-item">
        Занятие 2. Обзор модели ДКЦП. Клиентский сегмент, ключевой мотивационный конфликт, артекакт, его атрибуты, вклад, условия обмена, атрибуты компании, ценности, аргументы.
      </div>
      <div class="ids__sequence-item">Занятие 3. Критерии сходимости. Как понять, что написали не хуйню. 42 критерия сходимости. Сходимость на модели и в рынке.</div>
      <div class="ids__sequence-item">Занятие 4. Взаимоотношения с клиентами. Входящий запрос, за что браться, за что нет. Как понять задачу, как вести переговоры — ДКЦП way.</div>
      <div class="ids__sequence-item">Занятие 5. Показываем на себе. Как нащупать свою аутентичность и сформулировать собственное ценностное предложение</div>
    </div>
  </div>

  <p>В результате</p>
  <ul>
    <li>Возможность протестироват мудацкость клиента системно и заранее, полагаесь не на вайбы, а не его готовность исследовать ЦП по-честному</li>
    <li>Оказываешься заодно в клиентом в совместной исследовательской деятельности, а не строиш заборы</li>

  </ul>
</div>

  {% endblock %}
</div>
