{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП' %} {% block content %}
<div class="ids__space L"></div>
<div class="ids__wrapper L">
  <div class="article-title dark-theme">
    <p class="mono">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
    <h1 class="XL">База ДКЦП</h1>
    <p class="loud mono">Фреймворк, который поможет проверить, «не хуйню ли мы делаем». Пригодится, если вы что-то продаёте или помогаете продавать.</p>
    <div class="ids__space XL"></div>
    <div class="title-nav mono">
      <div class="title-nav-item">
        <a href="#bad">Проблема</a>
      </div>
      <div class="title-nav-item">
        <a href="#good">Ответ</a>
      </div>
      <div class="title-nav-item">
        <a href="#dkcp">ДКЦП</a>
      </div>
      <div class="title-nav-item">
        <a href="#dkcp">Программа курса</a>
      </div>
      <div class="title-nav-item">
        <a href="#dkcp">Авторы</a>
      </div>
      <div class="title-nav-item">
        <a href="#dkcp">Тарифы</a>
      </div>
    </div>
  </div>
</div>
<div class="ids__space M"></div>
<div class="article">
  <div class="ids__wrapper">
    <p class="loud">
      <em>Вроде бы все знают,</em> что для старта и уверенной работы любого бизнес-проекта нужна то ли маркетинговая стратегия, то ли бренд-платформа, в которой обязательно должны
      быть: миссия, ценности, видение, суть бренда, его роль, архетип, уникальные атрибуты, функциональные и эмоциональные выгоды, позиционирование, характер, тон оф войс, ризонс
      ту билив или хотя бы утэпэ.
    </p>
    <p class="loud">
      Как это связано? Какие части для чего нужны? Как убедиться, что они придуманы корректно и качественно? Признаваться в этом не принято, но тссс, достоверно
      <em>этого не знает никто</em>.
    </p>
    <div class="ids__text-width">
      <p class="gothic">Предположим, что вся эта маркетингово-брендовая платформо-стратегия у нас уже есть. Тогда, увы:</p>
      <ul>
        <li>либо это бессмысленный водянистый булщит, который в реальных проектах все по секрету игнорируют, вспоминая <em>только для обосновании</em> решений;</li>
        <li>либо это хорошие по качеству идеи, но они понятны только авторам, и никто другой не в может использовать их в работе.</li>
      </ul>
      <p class="gothic">В результате люди не могут договориться:</p>
    </div>
  </div>
  <div class="ids__wrapper L">
    <div class="ids__sequence gap-S">
      <div class="ids__sequence-item">
        <div class="tile">
          <p>Фаундер уверен, что у него ок с целями и пониманием ЦП</p>
          <p>одни уверены, что стратегия есть и цели понятны, другие не могут добиться ясности, для кого эти продукты и почему люди их выбирают;</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="tile">
          <p>компания предлагает «фичи» и «технологии», а клиент ищет решение своей проблемы</p>
          <p>одни пытаюстся думать о проблемах клиентов, другие мыслят исключтельно технологиями и фичами</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="tile"><p>про хаос</p></div>
      </div>
      <div class="ids__sequence-item">
        <div class="tile"><p>про ругань</p></div>
      </div>
      <div class="ids__sequence-item">
        <div class="tile">
          <p>про разобщённость</p>
          <p>заборы, считать друг друга мудаками</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="tile"><p>компромиссные решения</p></div>
      </div>
      <div class="ids__sequence-item">
        <div class="tile"><p>подрядчик ждёт, что про продукт ему расскажет заказчик, а заказчик ждёт, что про продукт ему расскажет подрядчик</p></div>
      </div>
    </div>
  </div>
  <div class="ids__space M"></div>
  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h3>Но мы же не маленькие!</h3>
      <p>У всех, кто не первый день в профессии, есть свои проверенные приёмы защиты от риска, хаоса и пробуксовок.</p>
    </div>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <p>Специалисты</p>
        <ul>
          <li>обкладываются мудбордами с референсами, фиксируют критерии приёмки работы</li>
          <li>ограничивают число вариантов или время, берут и не возвращают предоплату</li>
          <li>плюс отчаянная нужда в контрактих</li>
          <li>и оптимизм</li>
        </ul>
      </div>
      <div class="ids__sequence-item">
        <p>Заказчики </p>
        <ul>
          <li>ищут исполнителей, которые раньше уже делали буквально такую же работу</li>
          <li>пишут ТЗ на пятнадцать страниц, чтобы уж никто ничего не смог перепутать</li>
          <li>плюс отчаянная вера в магию креативности</li>
          <li>и сжатые сроки</li>
        </ul>
      </div>
    </div>
    <div class="ids__text-width">
      <p>
        Всё это работает. И это помогает как-то двигаться дальше. Но не помогает: лучше разбираться, синхронизировать знение между командами, находить бескомпромиссные решения.
      </p>

      <p>А что поможет?</p>
    </div>

    <div class="ids__space L"></div>
    <h2>Ценностное предложение</h2>

    <div class="ids__text-width">
      <p>
        Многие используют это определение как часть бренд-платформы, и считают . Мы предлагаем ценностное предложение фундаментом, поверх которого исследуется, проектируется и
        осознаётся всё остальное.
      </p>
      <p>... нет общего языка, чтобы связать всё это в один конструктивный разговор.</p>
      <p>Мы предлагаем вам максимально практичный взгляд на абстрактные вопросы ценности</p>
      <p>
        Оно есть всегда, хочешь или нет. Неважно, есть ли бренд — если что-то продаётся, если есть обмен — значит есть и Ценностное Предложение. Его можно обнаружить, задав
        «обычные» вопросы.
      </p>
      <ul>
        <li>Что продаётся? Какое оно?</li>
        <li>Кто это продаёт? Какой он?</li>
        <li>Кому он это продаёт? Какие они?</li>
        <li>На каких условиях продаётся? Сколько нужно заплатить, когда и как, что ещё нужно сделать, когда и как?</li>
        <li>Почему они это покупают? Зачем?</li>
      </ul>
      <p>
        Вы могли заметить, что от деталей ответов на эти вопросы может зависеть дизайн, текст, технология, канал доставки, да вообще всё. Именно поэтому вы (мы надеемся) привыкли
        задавать эти вопросы своим клиентам или коллегам.
      </p>
      <p>
        Ценностное предложение — это совокупность ответов. ЦП это фундаментальное знание о клиенте и его бизнесе, а всё остальное — позиционирование, комм. стр., миссия, вижн и
        ценности — выводится именно отсюда. В принципе, если вам уже сейчас полегчало и стало понятнее, как жить дальше — супер. С вас ноль рублей! А с теми, кто кое-что начал
        подозревать, мы продолжим.
      </p>
    </div>
    <div class="ids__space L"></div>
    <h2>ДКЦП</h2>
    <div class="ids__text-width">
      <p>
        Проблема в том, что в ответ на эти вопросы можно сказать любую хуйню и это никак не проверить. Можно сказать, что наши клиенты это все, кому нужен наш продукт. Можно
        сказать, что наш продукт решает проблему отсутствия нашего продукта. Это буллщит, но люди так мыслят годами и ничего.
      </p>

      <p>
        А можно иначе? Можно! Можно получить инструмент, который позволяет не только задать все вопросы корректно, не только понять, валидны ли ответы, но ещё и проверить ответы
        между собой на непротиворечимость.
      </p>

      <p>ЦП это разложенные по полочкам в голове ответы на фундаментальные вопросы о том как совершать обмен</p>
      <p>ДКЦП — это инструмент, который помогает работать с этим знанием</p>

      {% set values = ['Экологичность'] %} {% set segment = ['Молодые родители в крупных городах'] %} {% set conflict = ['Хотят здоровую еду для детей, но нет времени готовить'] %}
      {% set artifact = ['Готовая органическая детская еда'] %} {% set artifactAttrs = ['Без консервантов', 'Местные продукты', 'Возрастная маркировка'] %} {% set arguments =
      ['Здоровое питание для занятых родителей без компромиссов'] %} {% set priceConditions = ['500₽ за порцию', 'Скидка при подписке'] %} {% set exchangeConditions = ['Доставка в
      день заказа', 'Возврат в течение недели'] %} {% set companyAttrs = ['10 лет на рынке', 'Сертификат качества'] %} {% set draft = true %} {% include 'dkcp.html' %}
    </div>
  </div>

  <div class="ids__wrapper L">
    {% set draft = false %} {% set values = ['Баланс работы и жизни'] %} {% set segment = ['Коучи и консультанты b2b-команд'] %} {% set conflict = ['Быть доступным для команд
    клиентов, но не быть онлайн 24/7, ожидая подтверждений встреч'] %} {% set artifact = ['Планировщик встреч EASYMEET'] %} {% set artifactAttrs = ['Автоматическое подтверждение
    встреч без участия организатора', 'Синхронизация с календарем в реальном времени'] %} {% set exchangeConditions = ['Условия обмена'] %} {% set priceConditions = ['Ценовые
    условия'] %} {% set companyAttrs = ['Атрибуты компании'] %} {% set arguments = ['Аргументы'] %} {% include 'dkcp.html' %}
  </div>
  <div class="ids__wrapper">
    <div class="ids__text-width">
      <p>Это пример заполненной модели для тестового продукта</p>
      <p>Настоящий — объёмнее; корректность, сходимость, шаблоны для формулирования аргументов. Вот об этом и курс.</p>
    </div>

    <div class="ids__space L"></div>
    <h2>Программа курса</h2>

    <div class="ids__sequence L gap-M">
      <div class="ids__sequence-item">
        <p class="caption">Занятие 1.</p>
        <div class="lesson-screen">
          <div class="in progress">Записываем...</div>
        </div>
        Баззворды и их расшифровка: Бренд и его платформа, позицонирование иего УТП, ценности, миссия и его вижн, маркетинговая и коммуникационная стратегии. Разберемся что есть
        что и как отличить одно от другого.
      </div>
      <div class="ids__sequence-item">
        <p class="caption">Занятие 2.</p>
        <div class="lesson-screen">
          <div class="in progress">Записываем...</div>
        </div>
        <p>Обзор модели ДКЦП. Клиентский сегмент, ключевой мотивационный конфликт, артекакт, его атрибуты, вклад, условия обмена, атрибуты компании, ценности, аргументы.</p>
      </div>
      <div class="ids__sequence-item">
        <p class="caption">Занятие 3.</p>
        <div class="lesson-screen">
          <div class="in progress">Записываем...</div>
        </div>
        <p>42 Критерия сходимости. Как понять, что написали не хуйню. Сходимость на модели и в рынке.</p>
      </div>
      <div class="ids__sequence-item">
        <p class="caption">Занятие 4.</p>
        <div class="lesson-screen">
          <div class="in progress">Записываем...</div>
        </div>
        <p>
          Взаимоотношения с клиентами. Входящий запрос, за что браться, и за что нет. Как понять задачу, как вести переговоры, как работать с клиентом, который не хочет понимать
          свое ЦП.
        </p>
      </div>
      <div class="ids__sequence-item">
        <p class="caption">Занятие 5.</p>
        <div class="lesson-screen">
          <div class="in progress">Записываем...</div>
        </div>
        <p>Применяем к себе. Как нащупать свою аутентичность и сформулировать собственное ценностное предложение. Как отстроиться от колег по цеху.</p>
      </div>
    </div>
  </div>
  <div class="ids__wrapper L">
    <div class="ids__space L"></div>
    <h2>Авторы</h2>

    <div class="ids__sequence XL mobile-XL">
      <div class="ids__sequence-item">
        <img src="/assets/1ED_7823.jpg" alt="Михаил Руденко" />
        <h3>Михаил Руденко</h3>
        <p>
          Предприниматель, преподаватель, консультант. Больше 15 лет занимается исследованиями и делает проекты в сфере управления клиентским опытом. Основатель
          <a href="https://ponedelnik.ru/" target="_blank">ОКБ Пондельник</a>. Помогает компаниям добиться любви своих клиентов, сотрудников и партнёров. Работает с крупнейшими
          российскими компаниями: Сбербанк, Пятёрочка, Магнит, Рольф, Leroy Merlin, ВкусВилл, Мегафон.
        </p>
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/ea.jpg" alt="Женя Арутюнов" />
        <h3>Женя Арутюнов</h3>
        <p>
          Дизайнер, арт-директор, менеджер проектов и людей. Основатель <a href="https://intuition.team/ru" target="_blank">Интуиции</a>, автор книги
          <a href="https://intuition.team/ru/complex-designer" target="_blank">«Сложный дизайнер»</a>. С 2003 года работает дизайнером, с 2010 — арт-директором и руководителем
          творческих команд. За это время создал книги, журналы, логотипы, фирменные стили, веб-сервисы, мобильные приложения, дизайн-системы. Придумывал названия, стратегии,
          концепции, информационные продукты и бренд-платформы. Выступает с лекциями про дизайн и организацию творческой работы.
        </p>
      </div>
    </div>
  </div>
  <div id="pricing"></div>
  <div class="ids__space L"></div>
  <div class="ids__wrapper L">
    <aside>
      <h2>Тарифы</h2>
      <div class="ids__text-width">
        <p>В каждом тарифе вы получаете вечный доступ к материалам — это особенно удобно, если вы собираетесь купить их и не смотреть.</p>
      </div>
      <div class="ids__space S"></div>

      <div class="ids__sequence L gap-L">
        <div class="ids__sequence-item">
          <h4>В записи без супервизии</h4>
          <ul>
            <li>Записи лекций</li>
            <li>Тренажер ИИ</li>
            <li>ДКЦП-бриф</li>
            <li>Шаблон понимания задачи в ДКЦП-подходе</li>
          </ul>
          <p>
            <a href="#" class="promo-link">Заказать за 14&thinsp;900&thinsp;₽</a>
          </p>
          <p class="caption">Курс ещё записывается, это цена на предзаказ</p>
        </div>
        <div class="ids__sequence-item">
          <h4>В записи с супервизией</h4>
          <ul>
            <li>Записи лекций</li>
            <li>ИИ-Тренажер</li>
            <li>ДКЦП-бриф</li>
            <li>Шаблон понимания задачи в ДКЦП-подходе</li>
            <li>Супервизия клиентского брифа или вашего Ценностного Предложения от Жени или Миши на выбор.</li>
          </ul>
          <p>
            <a href="#" class="promo-link">Заказать за 29&thinsp;900&thinsp;₽</a>
          </p>
          <p class="caption">Курс ещё записывается, это цена на предзаказ</p>
        </div>
        <div class="ids__sequence-item">
          <h4>Вживую в вашей компании</h4>
          <ul>
            <li>Лекции в онлайне или офлайне</li>
            <li>ИИ-Тренажер</li>
            <li>ДКЦП-бриф</li>
            <li>Шаблон понимания задачи в ДКЦП-подходе</li>
            <li>Консультационные сессии с Мишей и Женей</li>
          </ul>
          <p>
            <a href="#" class="promo-link">Запросить расчёт</a>
          </p>
          <p class="caption">Цена зависит от формата и часла участников</p>
        </div>
      </div>
    </aside>

    <div class="ids__space L"></div>
    <div class="ids__text-width">
      <h2>Самая главная польза, которую вы получите</h2>
      <p>Если вы дизайнер, редактор или маркетолог</p>
      <ul>
        <li>
          Перед тем как идти в проект с новым клиентом, сможете оценить потенциальные проблемы полагаесь не на вайбы, а на понимание клиентом его продукта и готовность вместе с
          вами находить решения
        </li>
        <li>Внутри проекта окажетесь с клиентом на одной стороне в совместной исследовательской деятельности, вместо того чтобы препираться что правильно, а что нет</li>
      </ul>
      <p>Звучит интересно, но не до конца понятно? Напишите, зададим пару вопросов, продадим персонально (или скажем, что вам не надо).</p>
    </div>
  </div>
</div>
{% endblock %}
