{% extends 'layout.html' %} {% set pageTitle = 'Понедельник' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <p class="loud">
    Понедельник — это опыто-конструкторское бюро, коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от взаимодействия
    с компаниями и улучшать жизнь людей. Мы создаём лучший опыт покупателей и сотрудников, делая его фактором конкурентного преимущества для наших заказчиков.
  </p>

  <div class="ids__space L"></div>
  <h4>Глоссарий</h4>
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <div class="term">
        <p>Функция: название целенаправленного (в смысле – не случайного) изменения некоторой системы с некоторого начального состояния в некоторое конечное состояние</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Процессы – хронологические (т.е. упорядоченные во времени) последователности выполнения действий, необходимых для реализации функции</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>
          Взаимодействие – система взаимосвязанных и взаимообусловленных действий, связанных циклической зависимостью, при которой действие одного субъекта является одновременно
          причиной и следствием ответных действий других субъектов.
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Опыт – совокупность знаний и впечатлений, которые получил человек, взаимодействуя с чем-либо в мире.</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>
          Потребительский/клиентский/сотрудника опыт – совокупность знаний и впечатлений, которые получил человек, взаимодействуя с людьми, объектами и информацией,
          ассоциированными в его сознании с компанией (брендом)
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Артефакт [ЦП] – это набор товаров, услуг и информации, необходимый и достаточный для разрешения ключевого конфликта клиентского сегмента.</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Продукт (какой–то компании) – это то же самое, что артефакт</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>
          Атрибуты артефакта – это отличительные особенности (свойства и/или функции) артефакта как набора (эмерджентные свойства) или отдельных артефактов, входящих в набор,
          которые удовлетворяют следюущим признакам: Благодаря им артефакт способен разрешать ключевой конфликт этого ценностного предложения Они могут использоваться для сравнения
          и ранжирования артефактов разных компаний
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>
          Деятельность – это: 1. Специфический вид человеческой активности, направленной на преобразование действительности и/или самого себя. 2. Часть глубинной структуры,
          содержащая информацию об определенном типе активностей из п.1
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Действие – это единица деятельности, целенаправленная преднамеренная активность, осуществляемая субъектом деятельности произвольно.</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Операция – это строго регламентированное действие, выполняемое системой/программой. Операция может быть автоматизирована</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Идея — это возможное действие или результат</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Цель - результат, желаемое состояние системы, без уточнения способа достижения.</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Задача — это действие, организованное как социальный институт: с правилами, контролем, ответственностью. Нормированный способ движения к Цели.</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Явление — это фраза, сформулированная как корректный предикат (т.е. подлежащее + сказуемое)</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Нежелательное (для кого-то) явление — это явление, которое сам человек считает для себя нежелательным</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>
          ДКЦП — ментальная модель (т.е. мыслительная конструкция, базовый концепт для размышлений об абстрактном явлении) для создания и анализа ценностных предложений. В основе
          ДКЦП лежит объяснение явления символического обмена между участниками обмена через систему инвариантов обмена.
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Инварианты процесса обмена — универсальные компоненты, присутствующие в любой сделке независимо от участников и предмета обмена. Теоретическая основа модели ДКЦП.</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>
          Ключевой мотивационный конфликт — это осознаваемое представителем клиентского сегмента противоречие между стремлением изменить свой образ действия в рамках определенной
          деятельности (драйвер) и факторами, препятствующими этому изменению (барьеры). Конфликт возникает при выполнении работы — ограниченного во времени усилия по переходу от
          текущего к желаемому образу действия ради получения конкретной награды.
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="term">
        <p>Функция – общее название проектируемого изменения системы с начального состояния в конечное.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
