{% extends 'layout.html' %} {% set pageTitle = 'КСЦ:ОИ' %} {% block content %}
<div class="ids__space top-screen-space M"></div>

<div class="article">
  <div class="ids__wrapper L">
    <div class="article-title ksc-title">
      <div class="ids__text-width">
        <h1 class="L">Культура создания ценности</h1>
      </div>
      <div class="article-title-illustration">{% include 'dkcp-layered-model.html' %}</div>

      <div class="article-title-columns">
        <div class="article-title-column">
          <p class="loud mono"><mark>Открытый интенсив.</mark> Серия лекций и практик по сборке ценностного предложения для стартапов и продуктовых команд</p>
        </div>
        <div class="article-title-column desktop-only">
          <aside>
            <!-- <p>
              Ещё у нас есть <strong><a href="/ksc">большой курс</a></strong
              >, это корпоративная трансформа&shy;ционная программа для продук&shy;товых команд и их лидеров
            </p> -->
          </aside>
        </div>
      </div>
      <p class="mobile-only"><em>4 недели в онайне</em></p>
      <div class="ids__space M"></div>
      <div id="bad" style="position: absolute; bottom: -1.5em"></div>
    </div>
  </div>
  <div class="ids__wrapper L sticky">
    <div class="article-title-nav dark-theme">
      <div class="title-nav-item accent">
        <a href="#pricing" class="promo-link">Записаться</a>
      </div>

      <div class="title-nav-item desktop-only">
        <em>6 недель в онайне</em>
      </div>

      <div class="title-nav-item desktop-only">
        <a href="#problem">Что это и для кого</a>
      </div>
      <div class="title-nav-item">
        <a href="#course">Программа</a>
      </div>
      <div class="title-nav-item">
        <a href="#result">Результат</a>
      </div>
      <div class="title-nav-item">
        <a href="#authors">Команда</a>
      </div>
      <div class="title-nav-item">
        <a href="#pricing">Тарифы</a>
      </div>
    </div>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <p>
        Сразу к делу, друзья. Это интенсив про то, как создавать ценность <mark>по-другому</mark>. А что значит по-другому? Процессы создания ценности в компаниях устроены
        по-разному, и зависят от культуры:
      </p>
      <!--
      <div class="ids__sequence L gap-S">
        <div class="ids__sequence-item">
          <p>В компаниях с культурой директивного управления</p>
        </div>
        <div class="ids__sequence-item">
          <p>В компаниях с культурой лидерства</p>
        </div>
        <div class="ids__sequence-item">
          <p>и в компаниях <mark>с системным подходом к ценности.</mark></p>
        </div>
      </div>
      -->
      <div class="ids__space S"></div>

      <h3>Организация работы над ценностью</h3>
      <div class="ids__sequence L gap-S">
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура контроля</em></p>
          <p>Изолированные отделы (маркетинг, разработка, продакты), планирование бэклога на годы вперед, долгие согласования и бюрократия.</p>
        </div>

        <div class="ids__sequence-item">
          <p class="caption"><em>Культура лидерства</em></p>
          <p>Сильные горизонтальные связи, персональная ответственность, внутренние стандарты качества.</p>
        </div>
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура создания ценности</em></p>
          <p>Кросс-функциональные команды, <mark>создание ценности поставлено на поток</mark>. Сделать новый продукт для рынка ни для кого не проблема.</p>
        </div>
      </div>
      <div class="ids__space S"></div>

      <h3>Коммуникация с клиентом</h3>
      <div class="ids__sequence L gap-S">
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура контроля</em></p>
          <p>Нет понимания клиента и об этом никто не задумывается. Продажа в основном на языке фич и технологий, агрессивный маркетинг.</p>
        </div>
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура лидерства</em></p>
          <p>Есть исследования клиентов, есть ответственные за это люди, но из не всегда слушают, потмоу что визионеры ещё не достигли предела своих компетенций.</p>
        </div>
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура создания ценности</em></p>
          <p>Команда использует специальный язык, который позволяет точно и конкретно говорить с клиентом и внутри команды о том, о чём раньше было сложно даже думать.</p>
        </div>
      </div>
      <div class="ids__space S"></div>

      <h3>Работа с гипотезами</h3>
      <div class="ids__sequence L gap-S">
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура контроля</em></p>
          <p>«Гипотезами» называются идеи, и зачастую это идеи начальства. «Проверкой гипотез» называется реализация этих идей.</p>
        </div>
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура лидерства</em></p>
          <p>Гипотезы генерируются на основе прошлых количественных данных. Содержание гипотез — всё еще «творчество».</p>
        </div>
        <div class="ids__sequence-item">
          <p class="caption"><em>Культура создания ценности</em></p>
          <p>«Гипотезой» называется объяснение реальности. Новые гипотезы выводятся из модели с качественными данными, полученными из проверок прошлых гипотез.</p>
        </div>
      </div>

      <p>
        Таким образом, культура создания ценности – это такая организация деятельности, когда работа компании подчинена не продукту (проходили, не работает) и не клиенту (тоже
        проходили, не работает), а поиску соответствия того, что хочет клиент (и может дать) и того, что может дать компания (и хочет получить).
      </p>

      <p>Наш интенсив — это возможность попрактиковаться и примерить на себя эту культуру через уникальный набор инструментов и практик.</p>
    </div>
  </div>

  <div class="ids__space M"></div>

  <!-- Поняла, что атрибуты интенсива, всё-таки, нужны как раздел. Добавила его в двух вариантах. Это первый — просто текстом. Ниже попробовала посмотреть, как оно на плашке может выглядеть, потому что я пока не умею мыслить элементами дизайн-системы, мне надо смотреть. -->

  <div class="ids__space Xl"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h2>Программа</h2>
      <h3>Модуль 1. Компания</h3>
    </div>

    <div class="ids__sequence XL gap-S">
      <div class="ids__sequence-item">
        <p>Лекция в записи</p>
      </div>
      <div class="ids__sequence-item">
        <h4>Фундамент и крыша ДКЦП: атрибуты и ценности</h4>
        <ul>
          <li>Компания и продукт — не одно и то же.</li>
          <li>Ценностные дисциплины Трейси и Вирсемы: операционное совершенство, лидерство по продукту или близость к клиенту.</li>
          <li>Ценности как фильтры, делящие мир на видимое и невидимое, а людей — на своих и чужих.</li>
          <li>Доверие к компании как необходимое условие обмена — и как его создать.</li>
          <li>Типология атрибутов компании с примерами из разных дисциплин по модели Трейси.</li>
          <li>Системы ценностей для b2b и b2c.</li>
        </ul>
      </div>

      <!-- Вторая строка -->
      <div class="ids__sequence-item">
        <p>Практические занятия</p>
      </div>
      <div class="ids__sequence-item">
        <h4>Составляем реестр атрибутов компании</h4>
        <h4>Наша пирамида ценностей</h4>
      </div>

      <!-- Четвёртая строка -->
      <div class="ids__sequence-item">
        <p>Самостоятельная работа</p>
      </div>
      <div class="ids__sequence-item">
        <h4>Точка сборки 1: ценности и атрибуты</h4>
      </div>

      <!-- Пятая строка -->
      <div class="ids__sequence-item">
        <p>Обсуждение</p>
      </div>
      <div class="ids__sequence-item">
        <h4>Результаты работы над атрибутами и ценностями</h4>
      </div>
    </div>
  </div>

  <div class="ids__space XL"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h2>Результат</h2>
      <p>Портфель артефактов после интенсива:</p>
      <ul>
        <li>реестр атрибутов вашей компании или продукта,</li>
        <li>заполненная пирамида ценностей,</li>
        <li>заполненная модель ДКЦП,</li>
        <li>прототип лендинга для продукта или компании,</li>
        <li>ДКЦП-шаблон матрицы контрактов,</li>
        <li>навык работы с ИИ-ассистентом ЭКселенцем,</li>
        <li>команда, которая думает и говорит на одном языке — языке ценностного предложения.</li>
      </ul>
    </div>
  </div>

  <div class="ids__space XL"></div>

  <div id="authors" class="ids__wrapper L">
    <div class="ids__space L"></div>
    <h2>Команда интенсива</h2>

    <div class="ids__sequence M gap-S">
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/m-100.jpg" alt="Михаил Руденко" />
            <div class="author-name"></div>
          </div>
          <p><strong>Михаил Руденко.</strong> Предприниматель, преподаватель, консультант.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/v-100.jpg" alt="Вера Харченко" />
            <div class="author-name"></div>
          </div>
          <p><strong>Вера Харченко.</strong> Фасилитатор, наставник по исследованиям.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/s-100.jpg" alt="Сергей Степанов" />
            <div class="author-name"></div>
          </div>
          <p><strong>Сергей Степанов.</strong> Руководитель проекта.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/a-100.jpg" alt="Александра Руденко" />
            <div class="author-name"></div>
          </div>
          <p><strong>Александра Руденко.</strong> Аналитик.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/d-100.jpg" alt="Даша Коченова" />
            <div class="author-name"></div>
          </div>
          <p><strong>Даша Коченова.</strong> Редактор.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/e-100.jpg" alt="Женя Арутюнов" />
            <div class="author-name"></div>
          </div>
          <p><strong>Женя Арутюнов.</strong> Дизайнер, арт-директор, менеджер проектов и людей.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/b-100.jpg" alt="Богдан Бурдин" />
            <div class="author-name"></div>
          </div>
          <p><strong>Богдан Бурдин.</strong> Аналитик-картограф, заведующий онлайн-сервисами и ПСК-процессом.</p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ksc-open/k-100.jpg" alt="Кристина Кострова" />
            <div class="author-name"></div>
          </div>
          <p><strong>Кристина Кострова.</strong> Администратор проекта, супервайзер поля.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ids__space XL"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h2>Стоимость</h2>

      <p>
        Интенсив КСЦ — групповое обучение. Чтобы получить максимум пользы и отработать новую методологию вместе со своей реальной командой — лучше приходить группой от 3 до 5
        человек и с лидером трансформации.
      </p>
      <p>Участие стоит 85&thinsp;000&thinsp;₽ с человека.</p>
      <p>Места ограничены, всего на интенсиве не более 8 команд.</p>
      <p>Занятия проходят по вечерам в зуме. Одно занятие длится два часа.</p>

      <p>Интенсив состоит из:</p>
      <ul>
        <li>6 лекций в записи,</li>
        <li>5 групповых зянятий,</li>
        <li>10 заданий для самостоятельной работы,</li>
        <li>3 сессий-разборов с ответами на вопросы,</li>
        <li>5 личных встреч с кураторами,</li>
        <li>интервью по методологии ДКЦП с реальными пользователями,</li>
        <li>базового чекапа вашей идеи или продукта перед стартом.</li>
      </ul>
    </div>
  </div>
  <div class="ids__space XL"></div>
  <div class="ids__wrapper" id="application-form">
    <div class="ids__text-width">
      <h2 id="pricing">Записаться</h2>

      <p>
        Оставьте свои контакеты в форме — мы свяжемся с вами и договоримся на короткий звонок, где расспросим о вашей компании, продукте и текущей ситуации. После этого определим
        вас в группу и пришлём форму для оплаты.
      </p>

      <div class="form-container" id="form-container">
        <form id="kscApplicationForm" class="application-form">
          <div class="form-field-wrapper">
            <div class="form-field form-field-first">
              <label for="form-name">Имя</label>
              <input type="text" id="form-name" name="name" required />
            </div>

            <div class="form-field">
              <label for="form-company">Название компании</label>
              <input type="text" id="form-company" name="company" />
            </div>

            <div class="form-field">
              <label for="form-telegram">Ник в телеграме</label>
              <input type="text" id="form-telegram" name="telegram" placeholder="@username" />
            </div>

            <div class="form-field form-field-last">
              <label for="form-email">Email</label>
              <input type="email" id="form-email" name="email" required />
            </div>
          </div>

          <button type="submit" class="promo-link form-submit" id="form-submit-btn">Отправить заявку</button>

          <div class="form-status" id="form-status"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="ids__space XL"></div>
</div>

<script src="/assets/form-application.js" defer></script>

{% endblock %}
