{% extends 'layout.html' %} {% set pageTitle = 'КСЦ' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="ids__text-width">
    <h1>Культура создания ценности</h1>

    <p>
      Корпоративная трансформационная программа для продуктовых команд и их лидеров. Её цель — объединить традиционно изолированные департаменты вокруг главного источника денег в
      компанию — клиента. КСЦ — авторский курс ОКБ Понедельник по созданию ценностных предложений и улучшению клиентского опыта.
    </p>

    <p>
      Разработчики увлекаются инженерной красотой, забывая о том, как продукт будет зарабатывать деньги. Руководству сложно понять, как вложения в разработку превратятся в прибыль.
      Маркетинг и продажи не могут чётко ответить на вопрос «чем ваш продукт отличается от конкурентов?» и каждый раз выдумывают разные ответы, которые не убеждают клиента.
    </p>
  </div>
</div>

{% endblock %}
