{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="ids__text-width">
    <div class="logo-downloads">
      <div class="logo-download L">
        <div class="download-plate">
          <div class="download-plate-container">
            <img src="/assets/logo/pndlnk-full-logo_RGB.svg" />
            <div class="download-caption">Скачать</div>
          </div>
          <div class="download-menu">
            <div class="download-menu-plate">
              <div class="logo-download-links">
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-full-logo_RGB.png" download
                    >pndlnk-full-logo_RGB.png</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-full-logo_RGB.svg" download
                    >pndlnk-full-logo_RGB.svg</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-full-logo_CMYK.eps" download
                    >pndlnk-full-logo_CMYK.eps</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-full-logo_CMYK.pdf" download
                    >pndlnk-full-logo_CMYK.pdf</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="logo-download M">
        <div class="download-plate">
          <div class="download-plate-container">
            <img src="/assets/logo/pndlnk-compact-logo_RGB.svg" />
            <div class="download-caption">Скачать</div>
          </div>
          <div class="download-menu">
            <div class="download-menu-plate">
              <div class="logo-download-links">
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-compact-logo_RGB.png" download
                    >pndlnk-compact-logo_RGB.png</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-compact-logo_RGB.svg" download
                    >pndlnk-compact-logo_RGB.svg</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-compact-logo_CMYK.eps" download
                    >pndlnk-compact-logo_CMYK.eps</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-compact-logo_CMYK.pdf" download
                    >pndlnk-compact-logo_CMYK.pdf</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="logo-download M">
        <div class="download-plate">
          <div class="download-plate-container">
            <img src="/assets/logo/pndlnk-stella-logo_RGB.svg" />
            <div class="download-caption">Скачать</div>
          </div>
          <div class="download-menu">
            <div class="download-menu-plate">
              <div class="logo-download-links">
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-stella-logo_RGB.png" download
                    >pndlnk-stella-logo_RGB.png</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-stella-logo_RGB.svg" download
                    >pndlnk-stella-logo_RGB.svg</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-stella-logo_CMYK.eps" download
                    >pndlnk-stella-logo_CMYK.eps</a
                  >
                </p>
                <p class="logo-download-link">
                  <a href="/assets/logo/pndlnk-stella-logo_CMYK.pdf" download
                    >pndlnk-stella-logo_CMYK.pdf</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ids__space XL"></div>
<div class="ids__space XL"></div>
<div class="ids__space XL"></div>

<script type="module" src="/assets/illustrations/init.js"></script>
{% endblock %}
